p {
  color: #e2037a;
  margin: 5px;
  font-size: 16px;
  @media only screen and (min-width: 1024px) {
    font-size: 26px;
    margin: 10px;
  }
}

.navBar {
  display: flex;
  flex-direction: row;
  
}
