.messages {
  color: white;
  font-size: 20px;
  width: 30%;
  border-radius: 25px;
  padding: 25px;
  height: fit-content;
  background-color: #e2037a;

  &.right {
    margin-right: 50px;
  }

  &.left {
    margin-left: 50px;
  }

  @media (min-width: 1025px) {
    width: 25%;
    font-size: 26px;

    &.right {
      margin-right: 200px;
    }

    &.left {
      margin-left: 200px;
    }
  }
}
